{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}} {{contact.last_name}}
        </h1>
        <p><b>ID: {{contact.id}}</b></p>
        <p><b>E-mail: {{contact.emai}}</b></p>
        <p><b>Phone: {{contact.phone}}</b></p>
        <p><b>Created Date: {{contact.created_date}}</b></p>
        <p><b>Description: {{contact.description}}</b></p>
        <p><b>Category: {{contact.category.name}}</b></p>

        {% if contact.picture %}
            <p>
                <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
            </p>
        {% endif %}

        {% if user == contact.owner %}
        <div class="contact-links">
            
            <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Atualizar</a>

            <form action=" {% url 'contact:delete' contact.id %}" method="POST">
                {% csrf_token %}
                
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-delete">Confirma?</button>
                {% else %}
                    <button class="btn btn-delete">Excluir</button>
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>

{% endblock content %}